/* Aca se podria trabajar con Grid para acomodar las cajas y despues con flexbox para acomodar internamente. */

/* Otra cosa importante que tenes que empezar a ver es de usar BEM */

*{
    box-sizing: border-box;
    ;
}
body{
    background: url(../Multimedia/1366_2000.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family:Minimal;
    src: url(/Fuentes/Minimal.ttf);
}

h1{text-shadow: 0.1em 0.1em rgb(0, 0, 0)}/*puse sombra aunque no sirva jajaja*/

/* intente poner la caja h1 como estan los del nav, pero no pude. Seguro q es xq falta una que la contenga, igual le deje el formato*/
h1{
    display: flex;
    color: rgb(62, 83, 26);
    justify-content: center;
    flex-flow: row ;
    background-color: rgb(122, 128, 148);
    padding: 10px;
    border: 2px solid black

 }
/* llamo el atributo dese el html(<ul class= flex-container")*/

.flex-container{
    display: flex;
    justify-content: center;
    flex-flow: row ;
    background-color: rgb(56, 58, 65);
    padding: 10px;
    border: 2px solid black
    
 }


.flex-container li{
    background-color: rgb(175, 255, 46);
    width: 150px;
    margin: 10px;
    text-align: center;
    line-height: 70px;
    font-size: 15px;
    border: 2px solid black  
    
}

li{
    list-style: none;
}

@font-face {
    font-family:Minimal;
    src: url(/Fuentes/Minimal.ttf);
}
figcaption p{
    font-family:IDM\ Minimal;
    font-size: 20px;
    object-fit: cover;
}

.form {
    
    height: 400px;
    width: 300px;
    margin:  0 auto;
    display: grid;
    align-items: center;
    background: red;
}


h4{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}
input {
    border: none;
    margin: 10px;
    padding: 5px;
}

textarea {
    margin: 10px; 
    padding: 5px;   
}

button{
    margin: 10px;
    padding: 5px;
}

footer {
    position: absolute;
    bottom: 0;
}

footer .footer-parrafo{
    display: block;
    text-align: center;
}